body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Oswald&family=Permanent+Marker&family=Poppins&family=Roboto+Mono&family=Roboto:wght@100;500&family=Satisfy&display=swap');

/* heading part style started */

.heading-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-header {
    width: 85%;
    height: 75vh;
    margin-top: 40px;
    border-radius: 25px;
    display: flex;
    background-color: black;
    color: whitesmoke;
}

.header-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside-left {
    float: left;
    padding-left: 45px;
    padding-right: 10px;
}

.inside-left h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.heading-part p {
    word-spacing: 4px;
    color: honeydew;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}


.inside-left button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: darksalmon;
}

.inside-left button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    cursor: pointer;
    font-size: 1.5em;
    background-color: hotpink;
    transition: font-size 1.5s;
}

.inside-left button i {
    margin-left: 10px;
}

.header-right img {
    height: 100%;
}

/* tab mode media style for heading */

@media only screen and (min-width: 600px) and (max-width: 1191px) {
    .inside-header {
        height: 80vh;
    }

    .inside-left {
        float: left;
        padding: 45px 10px 10px 10%;
    }

    .inside-left h1 {
        font-size: 35px;
        font-weight: bolder;
        margin-bottom: -4px;
    }

    .inside-left p {
        font-size: 14px;
    }

    .header-right {
        width: 50%;
        padding-top: 30px;
    }

    .header-right img {
        height: 100%;
        width: 85%;
    }
}

/* mobile mode media style for heading */
@media screen and (max-width: 599px) {
    .inside-header {
        flex-direction: column;
        margin-bottom: -65px;
    }

    .header-left {
        width: 100%;
        height: 50%;
    }

    .inside-left {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    .inside-left h1 {
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: -4px;
    }

    .inside-left p {
        font-weight: normal;
        /* this text is not overflowed, so not needed to add overflow ellipsis */
        /* text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; */
    }

    .btn-top {
        display: flex;
        justify-content: center;
    }

    .header-right {
        width: 100%;
        height: 45%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .header-right img {
        height: 100%;
        width: 60%;
    }
}

/* heading part style ended */

/* main part started */

/* section one started*/

.main-sec-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.main-top-div {
    background-color: white;
    width: 85%;
    display: flex;
}

.left-sec-one {
    width: 25%;
    margin-right: 15px;
    height: 230px;
    background-color: black;
    border-radius: 12px;
}

.sec-one-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-one-top-btn,
.sec-one-middle-btn,
.sec-one-bottom-btn {
    height: 50px;
    width: 200px;
    font-size: 16px;
    border-radius: 9px;
    font-weight: bold;
    margin-top: 15px;
    border: none;
}

.sec-one-bottom-btn {
    background-color: hotpink;
    color: aliceblue;
}

.right-sec-one {
    width: 75%;
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(3, 1fr);
}

.blogs {
    width: 100%;
    height: 362px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-family: 'Poppins', sans-serif;
}

.blog-top-img {
    height: 175px;
    width: 100%;
}

.blog-main-bottom {
    padding: 15px;
}

.blog-main-bottom button {
    width: 90px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

.blog-main-bottom h1 {
    font-size: 18px;
}

.blogs-bottom-part {
    display: flex;
}

.down-left,
.down-right {
    display: flex;
    align-items: center;
    margin-right: 30px;

}

.down-left img,
.down-right img {
    height: 18px;
    width: 18px;
}

.down-right div,
.down-left div {
    margin-right: 12px;
}

/* tab mode media style for section one */

@media only screen and (min-width: 600px) and (max-width: 1191px) {
    .main-sec-one {
        margin-top: 15px;
    }

    .left-sec-one {
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        background-color: white;
    }

    .sec-one-top-btn {
        margin-left: 15px;
    }

    .sec-one-top-btn,
    .sec-one-middle-btn,
    .sec-one-bottom-btn {
        height: 40px;
        width: 140px;
        font-size: 13px;
        margin-top: 15px;
        margin-right: 15px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        background-color: white;
    }

    .sec-one-bottom-btn {
        background-color: hotpink;
        color: white;
    }

    .main-top-div {
        display: grid;
        grid-template-columns: (1, 1fr);
    }

    .right-sec-one {
        width: 100%;
        display: grid;
        gap: 17px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile mode media style for section one */
@media screen and (max-width: 599px) {
    .left-sec-one {
        width: 100%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(1. 1fr);
    }

    .main-top-div {
        display: grid;
        grid-template-columns: (1, 1fr);
    }


    .sec-one-top-btn,
    .sec-one-middle-btn,
    .sec-one-bottom-btn {
        height: 50px;
        font-size: 17px;
        border-radius: 9px;
        font-weight: bold;
        margin-top: 15px;
    }

    .sec-one-top-btn {
        width: 55%;
    }

    .sec-one-middle-btn,
    .sec-one-bottom-btn {
        width: 30%;
    }

    .sec-one-bottom-btn {
        background-color: hotpink;
        margin-bottom: 30px;
    }

    .right-sec-one {
        width: 100%;
        display: grid;
        gap: 17px;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* section one ended */

/* section two started*/

.sec-two {
    visibility: hidden;
}

/* tab mode media style for section two */

@media only screen and (min-width: 600px) and (max-width: 1191px) {
    .sec-two {
        visibility: visible;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .sec-two button {
        width: 130px;
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        background-color: orangered;
        border-radius: 10px;
        border: none;
        color: white;
    }
}


/* section two ended */

/* section three started*/

.sec-three {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding-bottom: 10px;
}

.inside-sec-three {
    width: 80%;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.sec-three-small-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-top-sec-three {
    margin-top: 25px;
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
}

.div-middle-sec-three {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.div-bottom-sec-three {
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.sec-three-small-div a {
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    color: wheat;
    font-weight: bold;
}

/* tab mode media style for section three */

@media only screen and (min-width: 600px) and (max-width: 1191px) {

    .sec-three-small-div h1 {
        text-align: center;
    }

    .sec-three-small-div {
        display: block;
    }

    .div-bottom-sec-three {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .sec-three-small-div a {
        font-size: 12px;
    }

    .bottom-link {
        width: 100%;
        float: center;
        padding-left: 120%;
    }
}

/* mobile mode media style for section three */
@media screen and (max-width: 599px) {
    .div-bottom-sec-three {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        text-align: center;
    }
}

/* section three ended */

/* footer section started */

.footer-sec {
    display: flex;
    background-color: black;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 25px;
    padding-bottom: 60px;
}

/* tab mode media style for footer section */

@media only screen and (min-width: 600px) and (max-width: 1191px) {
    .footer-sec {
        gap: 35px;
        font-size: 22px;
    }
}

/* mobile mode media style for footer section */
@media screen and (max-width: 599px) {
    .footer-sec {
        gap: 50px;
        font-size: 18px;
    }
}

/* footer section ended */

/* some styles started for upcoming-match.html file */

.inside-matches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside-matches img {
    width: 70px;
    height: 40px;
}

.matches {
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.match-today {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.match-detail {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.match-bottom-txt {
    font-size: 13px;
    margin-top: 7px;
    font-family: 'Oswald', sans-serif;
}

/* style ended for upcoming-match.html file */